/*color scheme*/ 
:root {
--color-brown: #8C5F3C;
--color-off-white: #F5F0E1;
--color-orange: #D97706;
--color-olive-green: #6B8E23;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'playfair-display', 'Arial', sans-serif;
}

.page-container {
      display: grid;
      grid-template-rows: auto 1fr auto;
      min-height: 100dvh;
}

