.headerNav {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 20px;
}


.magnifyingGlassIcon {
    width: 16px;
    height: 16px;
    color: #333;
    cursor: pointer;
}

.headerContainer {
    background-color: #F5F0E1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 40px;
}